body{
   margin: 0; 
   font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;  /*Para mexer livremente*/
    gap: 10px;  /*Espaço entre os conteudos*/
    padding: 10px;
}

.coluna{
    flex: 1;  /*faz a coluna ocupar  mesma linha que as outras dentro do container*/   
    background-color: lightpink;
    padding: 20px;
    text-align: center;
}

@media (max-width:768px){
    .container{      /*tem q colocar para mexer nas colunas dentro do container*/
        flex-direction:column ;   /*Quando chegar no tamanho de celular a coluna dois desce e fica embaixo da coluna 1*/
    }
}